.body1 {
	background: #e35869;
	font-family: 'Rubik', sans-serif;
	overflow-y: hidden;
}

.body2 {
	background: #967bab;
	font-family: 'Rubik', sans-serif;
}

.body3 {
	background: #7b9eab;
	font-family: 'Rubik', sans-serif;
}




.btn1 {
	width: 100%;
	background-color: #ffea8d;
	color: black;
	border: none;
	height: 2rem;
	border-radius: 1.25rem;
}

.btn2 {
	width: 100%;
	background-color: #00e0ff;
	border: none;
	height: 2rem;
	border-radius: 1.25rem;
}


.form1 {
	margin-left: 5%;
	background: skyblue;
	padding: 2%;
}

